<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: header">
</head>
<body>
<!-- Navigation-->
<nav th:replace="fragments/navigationLogin :: nav"></nav>

<!-- Body header-->
<div th:replace="fragments/bodyHeader :: header"></div>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <p th:if="${#fields.hasGlobalErrors()}" th:style="'color: red'"  th:each="error : ${#fields.errors()}" th:text="${error}"></p>
        <!--`       검색창 -->
        <div class="my-5">
            <form role="form" th:object="${memberSearch}">
                <div class="form-floating">
                    <label th:for="nickname"> 회원 별명 </label>
                    <input type="text" class="form-control" th:field="*{nickname}" placeholder=" "/>
                </div>
                <div class="form-floating">
                    <label th:for="joinId"> 회원 ID </label>
                    <input type="text" class="form-control" th:field="*{joinId}" placeholder=" "/>
                </div>
                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Search Member!</button>
            </form>
        </div>
        <div th:if="${members.getContent()!=null}" class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview" th:each="member : ${members}">
<!--                /article/share/do-->
                <a th:href="|/article/share/do?memberId=${member.id}&articleId=${articleId}|">
<!--                <a th:href="@{/article/share/do(memberId = ${member.getId()}, articleId = ${articleId})}">-->
                    <h3 class="post-title" th:text="|닉네임 : ${member.nickname} / ID : ${member.joinId}|"> 공유 대상</h3>
                    <p class="post-subtitle" th:style="'color: blue'" th:text="|공유할까요?|"> 멘트 </p>
                    <hr class="my-4" />

                </a>
            </div>

            <a th:if="${members.isFirst()} == false" th:href="@{/article/{articleId}/share(articleId = ${articleId},
            page = ${members.previousPageable().getPageNumber()},
            size = ${members.previousPageable().getPageSize()},
            nickname = ${memberSearch.getNickname()},
             joinId = ${memberSearch.getJoinId()})}">
                <div class="btn btn-primary text-uppercase">이전 회원 보기</div>
            </a>


            <a th:if="${members.isLast()} == false" th:href="@{/article/{articleId}/share(articleId = ${articleId},
            page = ${members.nextPageable().getPageNumber()},
            size = ${members.nextPageable().getPageSize()},
            nickname = ${memberSearch.getNickname()},
             joinId = ${memberSearch.getJoinId()})}">
                <div class="btn btn-primary text-uppercase">다음 회원 보기</div>
            </a>

            <!-- Divider-->
            <hr class="my-4" />
        </div>

    </div>
</div>



<div th:replace="fragments/footerReal :: footer">

</div>
<!-- Bootstrap core JS-->
<script src="/bootstrap/js/temp.js"></script>
<!-- Core theme JS-->
<script th:src="@{/bootstrap/js/scripts.js}"></script>
</body>
</html>
