<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragments/header::header" />
    <body>
        <!-- Navigation-->
        <nav th:replace="fragments/navigationLogin ::nav"/>
        <!-- Page Header-->
        <div th:replace="fragments/bodyHeader :: header"></div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p> 작성된 To Do List의 세부항목이에요!  </p>
                        <div class="my-5">
                            <form role="form" action th:object="${article}" method="post">
                                <div class="form-floating">
                                    <input type="text" class="form-control" th:field="*{writeTitle}" placeholder="해야할 일을 알려주세요!..."/>
                                    <label th:for="writeTitle"> To Do </label>
                                    <div th:errors="*{writeTitle}" th:style="'color:red'"></div>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" th:field="${article.dueDate}" autocomplete="off" placeholder=" "/>
                                    <label th:for="dueDate"> Due Date </label>
                                    <div th:errors="*{dueDate}" th:style="'color:red'"></div>
                                </div>
                                <div class="form-group mx-sm-1 mb-2">
                                    <select th:field="*{status}" class="form-control">
                                        <option value="">== Choose Status==</option>
                                        <option th:each=
                                                        "status : ${T(todo.application.domain.ArticleStatus).values()}"
                                                th:value="${status}"
                                                th:text="${status}">option
                                        </option>
                                    </select>
                                    <div th:if="${#fields.hasGlobalErrors()}" th:text="${#fields.globalErrors().get(0)}"
                                            th:style="'color:red'"></div>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" th:field="*{writeContents}" placeholder="Enter your message here..." style="height: 12rem"></textarea>
                                    <label th:for="writeContents">Detail</label>
                                    <div th:errors="*{writeContents}" th:style="'color:red'"></div>
                                </div>
                                <br />
                                <button type="submit" class="btn btn-primary">EDIT!</button>
                                <a th:href="@{/article/list}">
                                    <div class="btn btn-primary text-uppercase">BACK</div>
                                </a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <footer th:replace="fragments/footerReal :: footer"></footer>
        <!-- Bootstrap core JS-->
        <script src="/bootstrap/js/temp.js"></script>
        <!-- Core theme JS-->
        <script src="/bootstrap/js/scripts.js"></script>
<!--        <script th:src="@{/bootstrap/js/scripts.js}"></script>-->

        <script>
            $(function(){
                $('#dueDate').datepicker({
                    lang:'ko',
                    dateFormat: 'yy.mm.dd',
                    monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'], //달력의 월 부분 텍스트
                    monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'], //달력의 월 부분 Tooltip
                    dayNamesMin: ['일','월','화','수','목','금','토'], //달력의 요일 텍스트
                    dayNames: ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'] //달력의 요일 Tooltip
                });
            })
        </script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!--        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>-->
    </body>
</html>
