<!DOCTYPE html>
<html lang="en">
    <head th:replace="/fragments/header::header" />
    <body>
        <!-- Navigation-->
        <nav th:replace="fragments/navigationLogin ::nav"/>
        <!-- Page Header-->
        <div th:replace="/fragments/bodyHeader :: header"></div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>무엇을 언제까지 할지 한번 작성해봐요! </p>
                        <p>To Do List는 작성된 리스트를 작성자와 공유자에게만 보여드려요! </p>
                        <div class="my-5">
                            <form role="form" action="/article/saveForm" th:object="${articleForm}" method="post">
                                <div class="form-floating">
                                    <input type="text" class="form-control" th:field="${articleForm.writeTitle}" placeholder="해야할 일을 알려주세요!..."/>
                                    <label th:for="writeTitle"> To Do </label>
                                    <div th:errors="*{writeTitle}" th:style="'color:red'"></div>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" th:field="*{dueDate}" placeholder="언제까지 해야하는지를 알려주세요! "/>
                                    <label th:for="dueDate"> Due Date </label>
                                    <div th:errors="*{dueDate}" th:style="'color:red'"></div>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" th:field="*{writeContents}" placeholder="Enter your message here..." style="height: 12rem"></textarea>
                                    <label th:for="writeContents">Detail</label>
                                    <div th:errors="*{writeContents}" th:style="'color:red'"></div>
                                </div>
                                <br />
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Make!</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <footer th:replace="fragments/footerReal :: footer"></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script th:src="@{/bootstrap/js/scripts.js}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
