<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>



<div class="container">
    <div class="jumbotron">
        <h1>Chicken To doList</h1>
        <li>
            <a class="btn btn-lg btn-secondary" href="/members/new">회원 가입</a>
        </li>
        <li>
            <a class="btn btn-lg btn-secondary" href="/login">회원 로그인</a>
        </li>
    </div>
</div> <!-- /container -->
</body>
</html>