<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
    .fieldError {
        border-color: #dc3545;
        color: #dc3545;
    }
</style>
<body>
<div class="container">
    <form role="form" action="/members/new" th:object="${memberJoinForm}"
          method="post">
        <div class="form-group">
            <label th:for="joinId">ID</label>
            <input type="text" th:field="*{joinId}" class="form-control"
                   placeholder="사용할 ID를 입력하세요"
                   th:errorclass="fieldError">
            <p th:errors="*{joinId}" th:errorclass="fieldError">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="nickname">별명</label>
            <input type="text" th:field="*{password}" class="form-control"
                   placeholder="별명을 입력하세요"
                   th:errorclass="fieldError">
            <p th:errors="*{password}" th:errorclass="fieldError">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="password">비밀번호</label>
            <input type="text" th:field="*{password}" class="form-control"
                   placeholder="비밀번호를 입력하세요"
                   th:errorclass="fieldError">
            <p th:errors="*{password}" th:errorclass="fieldError">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="passwordRepeat">비밀번호 반복</label>
            <input type="text" th:field="*{passwordRepeat}" class="form-control"
                   placeholder="비밀번호를 반복해서 입력하세요"
                   th:errorclass="fieldError">
            <p th:errors="*{passwordRepeat}" th:errorclass="fieldError">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="email">E-Mail</label>
            <input type="text" th:field="*{email}" class="form-control"
                   placeholder="E-MAIL 주소를 입력하세요"
                   th:errorclass="fieldError">
            <p th:errors="*{email}" th:errorclass="fieldError">Incorrect date</p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
</div> <!-- /container -->
</body>
</html>