<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragments/header::header">
        <style>
            .fieldError{
                color: #dc3545;
                border-color: #dc3545;
            }
        </style>
    </head>
    <body>
        <!-- Navigation-->
        <nav th:replace="fragments/navigationNotLogin :: nav"></nav>

        <!-- Page Header-->
        <div th:replace="fragments/bodyHeader :: header"></div>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p th:text="|이메일, ID를 알려주세요! 비밀번호를 알려드릴게요 :)|" th:style="'color:orange'"> 안내 문구</p>
                        <div class="my-5">
                            <form role="form" action="" th:object="${loginForgetPasswordForm}" method="post">
                                <tr th:if="${#fields?.hasGlobalErrors()}" th:each="myError1 : ${#fields?.globalErrors()}">
                                    <div th:style="'color: red'"   th:text="${myError1}"> 에러 출력</div>
                                </tr>

                                <div class="form-floating">
                                    <input type="text" class="form-control" th:field="*{email}" placeholder=" "/>
                                    <label th:for="email"> E-MAIL </label>
                                    <div th:errors="*{email}" th:style="'color:red'"></div>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" th:field="*{joinId}" placeholder=" "/>
                                    <label th:for="joinId"> 회원 ID </label>
                                    <div th:errors="*{joinId}" th:style="'color:red'"></div>
                                </div>

                                <br />
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">비밀번호 조회</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <footer th:replace="fragments/footerReal :: footer"></footer>
        <!-- Bootstrap core JS-->
        <script src="/bootstrap/js/temp.js"></script>
        <!-- Core theme JS-->
        <script th:src="@{bootstrap/js/scripts.js}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!--        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>-->
    </body>
</html>
