<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>

    .myStyle {
        border-color: #0a58ca;
        color: #0c63e4;
    }
</style>
<div class="myStyle" th:fragment="footer">
    <h2> ChickenChickenLove Todo List </h2>
    <div class="jumbotron">
        <p>
            <a class="btn btn-lg btn-secondary" href="/">홈으로</a>
            <a class="btn btn-lg btn-secondary" href="/login">로그인</a>
            <a class="btn btn-lg btn-secondary" href="/members/new">회원가입</a>
        </p>
    </div>
</div>
</html>